 body{
   background-color:yellow;
} 
#box{
    height:100px ;
    width:500px  ;
    background-color: red;

}
#rectangle{
    height: 50px;
    width:300px;
    background-color:pink
}
.yellowhouse{
    height :50px;
    width:100px;
    background-color: white;
}